#vbar{
    width: 60%;
    float: left;
    height: 93px;
  }
  ul {
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(22, 43, 138, 0.822);
    height: 393px;
  }
  
  li {
    float: left;
    padding: 5px;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    
    
  }
  

  #home:hover{
    color: red;
    border-bottom: rgba(255, 254, 254, 0.973) solid 3px;
  }
  .dropbtn:hover{
    color: red;
    border-bottom: white solid 3px;
  }
  #contactme:hover{
    border-bottom: rgba(255, 254, 254, 0.973) solid 3px;
    color: red;
  }
  #about{
    border-bottom: rgba(255, 255, 255, 0.973) solid 3px;
    color: red;
  }
  
  li.dropdown {
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 5px 0px 0px 0px;
  }
  
  .dropdown-content a:hover {
    background-color: #ff0808;
  color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  #img1{
      position: relative;
      width: 10%;
      height: 50px;
      float: left;
      top: 20px;
      left: 25px;
  }
  #search{
    position: relative;
    width: 80%;
    float: right;
    border: rgb(255, 255, 255) solid 2px;
    padding: 4px;
    border-radius: 5px;
    top: 30px;
    right: 20px;
}
#search:focus{
    background-color: rgba(204, 204, 204, 0.979);
    border: red solid 3px;
}
  #dropicon{
      position: relative;
      width: 25px;
      height: 20px;
      top: 5px;
      left: 5px;
  }
  .dropbtn{
      position: relative;
      bottom: 5px;
  }
  #logo{
      width: 250px;
      height: 80px;
      position: relative;
      top: 10px;
      float: left;
  }

  #sear{
    float: right;
    width: 40%;
    background-color: rgba(22, 43, 138, 0.822);
    height: 93px;
  }
  
  #rdiv{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(22, 43, 138);
    text-align: center;
  }
  #fdiv{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    text-align: center;
    background-color: black;
  }
  #socialmedia{
    background-color: black;
    display: inline;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  #fa{
    width: 50px;
    height: 50px;
    padding: 10px;
    display: inline;
  }
  #fa:hover{
    border-bottom: white solid 1px;
  }
  #ins{
    width: 60px;
    height: 60px;
    padding: 10px;
    display: inline;
  }
  #ins:hover{
    border-bottom: white solid 1px;
  }
  #tw{
    width: 60px;
    height: 60px;
    padding: 10px;
    display: inline;
  }
  #tw:hover{
    border-bottom: white solid 1px;
  }
  #you{
    width: 60px;
    height: 60px;
    padding: 10px;
    display: inline;
  }
  #you:hover{
    border-bottom: white solid 1px;
  }
  #lia{
    background-color: black;
  }
  #copy{
    background-color: black;
    width: 100%;
    height: 100px;
  }
  #copyright{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
    text-align: center;
    position: relative;
    top: 20px;
  }
  #l1{
    color: white;
    padding: 10px 10px 10px 220px;
  }
  #l2{
    color: white;
  
  }
  #l3{
    color: white;
  }
  #l0{
    background-color: black;
    color: white;
    text-align: center;
  }
  #hr1{
    border-bottom: rgb(0, 0, 0) solid 4px;
  }
  #divAbout{
    width: 100%;
    height: 100%;
    background-color: rgba(22, 43, 138, 0.822);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding: 0px 0px 20px 0px;
  }
  #Abouttext{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px 0px 10px 0px;
  }
  #aboutinfo{
    text-align: center;
    color: white;
    height: 100%;
    padding: 20px 0px 20px 0px;
  }
  #heart{
    width: 70px;
    height: 70px;
  }
  #hrAbout{
    color: red;
    font-size: 60px;
    width: 100%;
    height: 100%;
    padding: 20px 0px 20px 0px;
  }
  body{
    padding: 0;
    margin: 0;
  }
  #home{
    font-size: 18px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }
  .dropbtn{
    font-size: 18px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }
  #contactme{
    font-size: 18px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }
  #about{
    font-size: 18px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }
  #hovhome{
    padding: 0;
  }
  #hovcontact{
    padding: 0;
  }
  #hovabout{
    padding: 0;
  }
  .container{
    padding: 30px 0px 0px 0px;
  }
  .dropdown{
    padding: 10px;
  }
  .col-3{
    background-color: 	#FFD700;
    height: 250px;
  }
  @media only screen and (min-width: 0px) and (max-width: 600px) {
    /*
  
  
  
                     MOBILE
  
                    
  
  
          
    */
    #vbar{
      width: 100%;
      float: left;
      height: 100%;
      display: block;
    }
    ul {
    
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      overflow: hidden;
      background-color: rgba(22, 43, 138, 0.822);
      height: 93px;
      display: block;
      height: 100%;
    }
    
    li {
      float: left;
      padding: 5px;
      display: block;
      width: 100%;
    }
    
    li a, .dropbtn {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 33px 20px;
      text-decoration: none;
      
      
    }
    
  
    
    li.dropdown {
      display: inline-block;
      
    }
    #home{
      width: 100%;
    }
    .dropbtn{
      width: 100%;
    }
    #contactme{
      width: 100%;
    }
    #about{
      width: 100%;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #000000;
      min-width: 200px;
      min-height: 200px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 0;
      height: 100%;
    }
    
    .dropdown-content a {
      color: rgb(255, 255, 255);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      margin: 5px 0px 0px 0px;
    
    }
    
    .dropdown-content a:hover {
      background-color: #ff0808;
      color: white;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    #img1{
        position: relative;
        width: 10%;
        height: 50px;
        float: left;
    }
    #search{
        position: relative;
        width: 70%;
        border: rgb(135, 135, 238) solid 3px;
        bottom: 30px;
    }
    #search:focus{
        background-color: rgba(253, 253, 253, 0.514);
    }
    #home:active{
        background-color: rgb(175, 142, 142);
    }
    #dropicon{
        position: relative;
        width: 25px;
        height: 20px;
        top: 5px;
        left: 5px;
    }
    .dropbtn{
        position: relative;
        bottom: 5px;
    }
    #logo{
        width: 100%;
        height: 250px;
        position: relative;
        top: 10px;
        float: left;
        text-align: 100%;
        left: 10px;
    }
    #sear{
      float: right;
      width: 100%;
      background-color: rgba(22, 43, 138, 0.822);
      height: 93px;
    }
    .col-3{
      background-color: 	#FFD700;
      height: 600px;
    }
    #aboutinfo{
      text-align: center;
      color: white;
      height: 100%;
      padding: 20px 0px 20px 0px;
      font-size: 15px;
    }
    #lia{
      background-color: black;
      padding: 10px 0px 0px 0px;
    }
  }